body
{
    background-color:#F5F5F1;
    margin:0.25in;
    font-size:11pt;
    font-family:Arial,sans-serif;
}

h1
{
    margin-left:0.05in;
    position:relative;
    top:-6pt;
    text-align:center;
    font-weight:bold;
    font-size:18pt;
    font-family:Verdana,sans-serif;
    color:#669966;
}

h2
{
    margin-top:0.3in;
    position:relative;
    top:6pt;
    font-size:15pt;
    font-family:Verdana,sans-serif;
    color:#996633;
}

h3
{
    margin-top:0.25in;
    position:relative;
    top:6pt;
    font-size:14pt;
    font-family:Verdana,sans-serif;
    color:#CC9966;
}

dl dt
{
	font-weight: bold;
	color: #CC6655;
}

dl dd
{
	font-style: italic;
	color: #006633;
}

ul li
{
	font-weight: bold;
	color: #CC6655;
}
    
.ol_li
{
	font-weight: bold;
	color: #CC6655;
}

a img
{
    border:none;
}

p
{
    font-size:11pt;
    font-weight:normal;
    font-family:Arial,sans-serif;
    color:#000000;
}
    
.tm_name
{
	font-weight: bold;
	font-size:11pt;
	font-family: Helvetica, Arial, sans-serif;
	color: #CC6633;
	font-variant: small-caps;
}
