<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NPS.AKRO.ThemeManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NPS.AKRO.ThemeManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NPS.AKRO.ThemeManager.Properties.Settings>
            <setting name="mainFormSize" serializeAs="String">
                <value>700, 700</value>
            </setting>
            <setting name="mainFormLocation" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="mainFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="mainFormTabpage1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mainFormSplitter" serializeAs="String">
                <value>236</value>
            </setting>
            <setting name="StyleSheetIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StayOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AgeInDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="KeepSearchFormOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayDefaultHtml" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AgeComboIndex" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="InPlaceNodeEditing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForArcViewBeforeArcInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainFormTabpage2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Toolstrip1Location" serializeAs="String">
                <value>3, 24</value>
            </setting>
            <setting name="Toolstrip2Location" serializeAs="String">
                <value>335, 24</value>
            </setting>
            <setting name="Toolstrip1ParentName" serializeAs="String">
                <value>TopToolStripPanel</value>
            </setting>
            <setting name="Toolstrip2ParentName" serializeAs="String">
                <value>TopToolStripPanel</value>
            </setting>
            <setting name="RightClickSelectsNode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DontSelectFirstNode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClickToClearNodeSelection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FocusTreeviewOnTabChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DontShowBetaWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHiddenThemes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadRequiredThemeLists" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveObsoleteThemeLists" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMainMenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowToolbar1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowToolbar2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStatusBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultSortOrder" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AllowUnsortedOrder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAdministrativeTools" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowThemeDescriptionToolTip" serializeAs="String">
                <value>False</value>
            </setting>
        </NPS.AKRO.ThemeManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <NPS.AKRO.ThemeManager.Properties.Settings>
            <setting name="StylesheetSubDir" serializeAs="String">
                <value>Metadata\Stylesheets</value>
            </setting>
            <setting name="RegistryArcDir" serializeAs="String">
                <value>HKEY_LOCAL_MACHINE\Software\ESRI\ArcGIS</value>
            </setting>
            <setting name="RegistryArc8Dir" serializeAs="String">
                <value>HKEY_LOCAL_MACHINE\Software\ESRI\ArcInfo\Desktop\8.0</value>
            </setting>
            <setting name="ArcDir" serializeAs="String">
                <value>C:\Program Files\ArcGIS\</value>
            </setting>
            <setting name="Arc64Dir" serializeAs="String">
                <value>C:\Program Files (x86)\ArcGIS\</value>
            </setting>
            <setting name="RegistryArcKey" serializeAs="String">
                <value>InstallDir</value>
            </setting>
            <setting name="RegistryUserDatabases" serializeAs="String">
                <value>HKEY_CURRENT_USER\Software\NPS\ThemeManager\Preferences\Databases</value>
            </setting>
            <setting name="RegistryUserFavorites" serializeAs="String">
                <value>HKEY_CURRENT_USER\Software\NPS\ThemeManager\Preferences\Favorites</value>
            </setting>
            <setting name="RegistryMachineDatabases" serializeAs="String">
                <value>HKEY_LOCAL_MACHINE\Software\NPS\ThemeManager\Preferences\Databases</value>
            </setting>
            <setting name="RegistryMachineFavorites" serializeAs="String">
                <value>HKEY_LOCAL_MACHINE\Software\NPS\ThemeManager\Preferences\Favorites</value>
            </setting>
            <setting name="SavedSessionFile" serializeAs="String">
                <value>Session.xml</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>NPS Theme Manager</value>
            </setting>
            <setting name="AppIcon" serializeAs="String">
                <value>Images\NPSLogo.ico</value>
            </setting>
            <setting name="DefaultDatabases" serializeAs="String">
                <value>X:\GIS\ThemeMgr\AKR Theme List.tml</value>
            </setting>
            <setting name="HTMLNoInitialData" serializeAs="String">
                <value>html\NoInitialData.html</value>
            </setting>
            <setting name="HTMLNoMetadata" serializeAs="String">
                <value>html\NoMetadata.html</value>
            </setting>
            <setting name="DefaultHtml" serializeAs="String">
                <value>html\Startup.html</value>
            </setting>
            <setting name="MinimumVisibleSplitterWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StyleSheetDirectory" serializeAs="String">
                <value>Stylesheets</value>
            </setting>
            <setting name="ObsoleteThemeLists" serializeAs="String">
                <value>X:\GIS\ThemeMgr\Albers-Network.mdb</value>
            </setting>
            <setting name="RequiredThemeLists" serializeAs="String">
                <value>X:\GIS\ThemeMgr\AKR Theme List.tml</value>
            </setting>
            <setting name="HelpUrl" serializeAs="String">
                <value>HTML\Help.html</value>
            </setting>
        </NPS.AKRO.ThemeManager.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
